.navbar {
	width: 750rpx;
	color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	/* background-color: #f8f8f8; */
	background-color: transparent;
	.wrap {
		position: relative;
		.title {
			height: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 32rpx;
			/* color: #000; */
			color: transparent;
		}
		.back {
			position: absolute;
			left: 0;
			height: 44px;
			width: 44px;
			font-size: 44rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			/* color: #000; */
			color: #fff;
		}
	}
}
